.classroom {
  font-family: 'Montserrat', sans-serif;
  color: #232c33;
  line-height: 1.6;
}

.container {
  display: flex;
  align-items: center;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.nav__link {
  text-decoration: none;
  width: 100%;
  color: #000000;
  display: inline-block;
  padding: 0.5rem;
  margin: 0 0.3rem;
}

.nav__link:hover,
.nav__link:focus {
  background-color: #d5dfe5;
  color: #ee003c;
}

.lesson {
  text-align: center;
}

.lesson__title--main {
  color: #ee003c;
}
.worksheet-download {
  background-color: #d5dfe5;
  margin: 2.5rem 0;
  border-top: 1px solid #232c33;
  border-bottom: 1px solid #232c33;
  padding: 0.5rem;
}

.worksheet-download__text {
  padding: 0 1rem;
}

.worksheet-download__btn {
  padding: 0.3rem;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #232c33;
  color: #ee003c;
  margin-bottom: 1rem;
}

.video__container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.download {
  width: 21rem;
  display: inline-block;
  text-decoration: none;
  background-color: #ee003c;
  color: white;
  border: 0.02rem solid #232c33;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.2s;
}
.download:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 20px #232c33;
  transition: all 0.2s;
}
.download:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 2px 5px #232c33;
  transition: all 0.2s;
}

.lesson__title--underlined::after {
  content: '';
  display: block;
  background-color: #ee003c;
  width: 75%;
  height: 0.3rem;
  margin: 0.5rem 0;
}

.lesson__title--underlined-right::after {
  content: '';
  display: block;
  background-color: #ee003c;
  width: 75%;
  height: 0.3rem;
  margin: 0.5rem 25%;
}

.quiz {
  background-color: #d5dfe5;
  padding: 0.5rem;
  border-top: 1px solid #232c33;
  border-bottom: 1px solid #232c33;
  margin: 4rem 0;
}

.quiz__question {
  font-weight: 800;
}

.quiz__answer,
.quiz__btn {
  text-align: left;
  padding: 0.7rem 1rem;
}

.btn {
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav__list {
    display: flex;
  }

  .lesson {
    padding: 0 2rem;
  }

  .lesson__text {
    text-align: left;
  }

  .worksheet-download__text {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .classroom {
    width: 900px;
    margin: 0 auto;
  }
}
