.classroom {
  font-family: 'Montserrat', sans-serif;
  color: #232c33;
  line-height: 1.6;
}

.container {
  display: flex;
  align-items: center;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.nav__link {
  text-decoration: none;
  width: 100%;
  color: #000000;
  display: inline-block;
  padding: 0.5rem;
  margin: 0 0.3rem;
}

.nav__link:hover,
.nav__link:focus {
  background-color: #d5dfe5;
  color: #ee003c;
}

.lesson,
.home {
  text-align: center;
}

.lesson__title--main,
.home__title--main {
  color: #ee003c;
}
.worksheet-download,
.link-lesson {
  background-color: #d5dfe5;
  margin: 2.5rem 0;
  border-top: 1px solid #232c33;
  border-bottom: 1px solid #232c33;
  padding: 0.5rem;
}

.worksheet-download__text,
.link-lesson__text {
  padding: 0 1rem;
}

.worksheet-download__btn,
.link-lesson__btn {
  padding: 0.3rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #232c33;
  color: #ee003c;
  margin-bottom: 1rem;
}
.worksheet-download__btn:hover {
  cursor: pointer;
  background-color: white;
}

.video__container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.lesson__title--underlined::after {
  content: '';
  display: block;
  background-color: #ee003c;
  width: 75%;
  height: 0.3rem;
  margin: 0.5rem 0;
}

.lesson__title--underlined-right::after {
  content: '';
  display: block;
  background-color: #ee003c;
  width: 75%;
  height: 0.3rem;
  margin: 0.5rem 25%;
}

.arrow {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1.5rem);
}

.arrow__img {
  width: 100%;
}

.arrow__link--left {
  grid-column: 1/3;
}

.arrow__link--left:hover,
.arrow__link--left:active {
  transform: translateX(-3rem) scale(1.2);
}

.arrow__link--right {
  grid-column: 2/4;
  grid-row: 2;
}

.arrow__link--right:hover,
.arrow__link--right:active {
  transform: translateX(3rem) scale(1.1);
}

.quiz {
  background-color: #d5dfe5;
  padding: 0.5rem;
  border-top: 1px solid #232c33;
  border-bottom: 1px solid #232c33;
  margin: 4rem 0;
}

.quiz__question {
  font-weight: 800;
}

.quiz__answer,
.quiz__btn {
  text-align: left;
  padding: 0.7rem 1rem;
}

.btn {
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  text-align: center;
  background-color: #ee003c;
  color: white;
  padding: 0.5rem 0px 0.5rem 0px;
}

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav__list {
    display: flex;
  }

  .lesson,
  .home {
    padding: 0 2rem;
  }

  .lesson__text,
  .home__text {
    text-align: left;
  }

  .worksheet-download__text {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .classroom {
    width: 900px;
    margin: 0 auto;
  }
}
