.classroom {
  font-family: 'Montserrat', sans-serif;
  color: #232c33;
  line-height: 1.6;
}

.container {
  display: flex;
  align-items: center;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.nav__link {
  text-decoration: none;
  width: 100%;
  color: #000000;
  display: inline-block;
  padding: 0.5rem;
  margin: 0 0.3rem;
}

.nav__link:hover,
.nav__link:focus {
  background-color: #d5dfe5;
  color: #ee003c;
}

.lesson {
  text-align: center;
}

.lesson__title--main {
  color: #ee003c;
}

.video__container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.download {
  width: 21rem;
  display: inline-block;
  text-decoration: none;
  background-color: #ee003c;
  color: white;
  border: 0.02rem solid #232c33;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.2s;
}
.download:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 20px #232c33;
  transition: all 0.2s;
}
.download:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 2px 5px #232c33;
  transition: all 0.2s;
}

@media screen and (min-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav__list {
    display: flex;
  }

  .lesson {
    padding: 0 2rem;
  }

  .lesson__text {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .classroom {
    width: 900px;
    margin: 0 auto;
  }
}
